__pycache__/
.DS_Store
.*jpg
.*png
1_nabu_urdaten/
2_nabu_selected/
3_nabu_final/
4_nabu_regrouped/
5_nabu_split/
batch_test/
evaluation/
data/
webdesign/
models/
phase3_4/
reports/
training_history/
